<div class="container">

  <div class="row">

    <div class="col">

      <div >
        {{i+1}}: {{empleado.nombre}} {{empleado.apellido}} {{empleado.cargo}} {{empleado.salario}}
        <a [routerLink]="['/actualiza',i]" [queryParams]="{accion:'1'}">
          Actualiza
        </a>

        <a [routerLink]="['/actualiza',i]" [queryParams]="{accion:'2'}">
          Elimnar
        </a>

      </div>

      <app-caracteristicas-empleado-c (caraceristicasEmpleado)="agregarCaracteristica($event)"></app-caracteristicas-empleado-c>

      <ul style="list-style:none;">
        <li *ngFor="let caracteristica of arrayCaracteristicas">{{caracteristica}}</li>
      </ul>

    </div>

  </div>

</div>
